body {
  background-color: #f1f6f9;
  margin: 0;
}
.App {
  min-height: 100vh;
  height: 100%;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
}

/* ::-webkit-scrollbar {
  display: none;
} */
